@page
@model InventoryManagementApplication.Pages.HistoryPageModel
@{

}

<h1>Historik</h1>

<div class="mb-3 mt-3">
    <input id="searchInput" type="text" class="form-control" placeholder="Sök..." />
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Produktnamn</th>
            <th scope="col">Artikelnummer</th>
            <th scope="col">Lager från</th>
            <th scope="col">lager till</th>            
            <th scope="col">Antal produkter flyttade</th>
            <th scope="col">Antällningsnummer</th>
            <th scope="col">Senast ändrad</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Statistics.Any())
        {
            @foreach (var statistic in Model.Statistics)
            {
                <tr>
                    <td>@statistic.Product.Name</td>
                    <td>@statistic.Product.ArticleNumber</td>
                    <td>@statistic.InitialStorage.Name</td>
                    <td>@statistic.DestinationStorage.Name</td>
                    <td>@statistic.ProductQuantity</td>
                    <td>@statistic.User.EmployeeNumber</td>
                    <td>@statistic.Product.Updated</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" class="text-center">Ingen data..</td>
            </tr>
        }
    </tbody>
</table>