@page
@using InventoryManagementApplication.Areas.Identity.Data
@using InventoryManagementApplication.Areas.Identity.Pages.Account
@using Microsoft.AspNetCore.Identity
@model IndexModel
@inject UserManager<InventoryManagementUser> UserManager
@inject SignInManager<InventoryManagementUser> SignInManager
@{
	ViewData["Title"] = "Startsida";
	var user = await UserManager.GetUserAsync(User);
}

<body class="logedin-page-background">
		<div class="container-boxes">
			<div class="box1">
				<table id="userTable" border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 100%; height: 100%;">
					<tbody>
						<tr>
							<td style="color: #0056b3"><strong>Du är inloggad som:</strong></td>
							<td>@user.FirstName @user.LastName</td>
						</tr>
						<tr>
							<td style="color: #0056b3"><strong>Registrerad sedan:</strong></td>
							<td>@user.Created.ToString("yyyy-MM-dd")</td>
						</tr>
						<tr>
							<td style="color: #0056b3"><strong>Din roll:</strong></td>
							<td>
								@if (User.IsInRole("Admin"))
								{
									@User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value
								}
								else
								{
									<p>Användare</p>
								}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="box2">
				<h1>Leaderboard</h1>
				<table id="leaderboardTable" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Användare</th>
							<th>Totalt förflyttade produkter</th>
							<th>Antal förflyttningar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var person in Model.MovementPerPerson.OrderByDescending(x => x.TotalQuantity))
						{
							<tr>
								<td>@person.EmployeeNumber</td>
								<td>@person.TotalQuantity</td>
								<td>@person.TotalMovements</td>
							</tr>
						}
					</tbody>
				</table>

			</div>
		</div>
</body>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
