@page
@using InventoryManagementApplication.Areas.Identity.Data
@using Helpers
@using Microsoft.AspNetCore.Identity
@model ManageAccountHelpers
@inject UserManager<InventoryManagementUser> UserManager
@inject SignInManager<InventoryManagementUser> SignInManager
@{
    ViewData["Title"] = "Startsida";
    var user = await UserManager.GetUserAsync(User);
}

<body class="logedin-page-background">

    @if (User.Identity.IsAuthenticated)
    {
        <div class="container-boxes">
            <div class="box1">            
                <table id="userTable" border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 100%; height: 100%;">
                    <tbody>
                        <tr>
                            <td style="color: #0056b3"><strong>Du är inloggad som:</strong></td>
                            <td>@user.FirstName @user.LastName</td>
                        </tr>
                        <tr>
                            <td style="color: #0056b3"><strong>Registrerad sedan:</strong></td>
                            <td>@user.Created.ToString("yyyy-MM-dd")</td>
                        </tr>
                        <tr>
                            <td style="color: #0056b3"><strong>Din roll:</strong></td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    @User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value
                                }
                                else
                                {
                                    <p>Användare</p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="box2">
                <h1>Leaderboard</h1>
                <table id="leaderboardTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Användare</th>
                            <th>Totalt förflyttade produkter</th>
                            <th>Antal förflyttningar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in Model.MovementPerPerson.OrderByDescending(x => x.TotalQuantity))
                        {
                            <tr>
                                <td>@person.EmployeeNumber</td>
                                <td>@person.TotalQuantity</td>
                                <td>@person.TotalMovements</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <h1 class="row justify-content-center">@ViewData["Title"]</h1>
        <div class="row">
            <div class="row justify-content-center">
                <div class="col-md-4 ">
                    <section>
                        <form id="account" method="post">
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.UserName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Användarnamn" />
                                <label asp-for="Input.UserName">Användarnamn</label>
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password" class="form-label">Lösenord</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            
                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Logga in</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    }

</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
