@page
@model InventoryManagementApplication.Pages.LogModel
@{

}

<h1>Loggning</h1>

<div class="mb-3 mt-3">
    <input id="searchInput" type="text" class="form-control" placeholder="Sök..." />
</div>

<div>
    <table id="logsTable" class="table" data-sort-direction="asc">
        <thead>
            <tr>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(0)">Användar-Id</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(1)">Typ av Objekt</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(2)">Anteckning</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(3)">Objekt-Id</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(4)">Ändrad</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(5)">Händelse</a></th>
            </tr>
        </thead>
        <tbody id="myLogTable">
            @if (Model.ActivityLogs.Any())
            {
                @foreach (var logs in Model.ActivityLogs)
                {
                    <tr>
                        <td>@logs.UserId </td>
                        <td>@logs.ItemType</td>
                        <td>@logs.Notes</td>                                             
                        <td>@logs.TypeId</td>
                        <td>@logs.TimeStamp</td>
                        <td>@logs.Action</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">Ingen data..</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="mb-3">
        <button id="prevPage" class="btn btn-primary">Bak</button>
        <span id="pageNumber" class="mx-3"></span>
        <button id="nextPage" class="btn btn-primary">Fram</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/logIndex.js"></script>
}
