@page
@model InventoryManagementApplication.Pages.OverviewModel
@{
}

<div class="container-fluid bg-light">
    <section id="overview-section">
        <div class="row">
            <div class="col-12 mt-3 mb-1 text-center">
                <h4 class="text-uppercase">Översikt</h4>
                <p>Statistik över produkter, lager och användare.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card shadow-lg mb-3">
                    <div class="card-header bg-primary text-white">
                        <h5 class="text-center mb-0">Produkt</h5>
                    </div>
                    <div class="card-body bg-white">
                        <div class="card mb-3">
                            <div class="card-body">
                                <a asp-page="/admin/product/index" style="text-decoration: none;">
                                <h5>@(Model.ProductQuantity != null ? Model.ProductQuantity.ToString() : "Data finns ej")</h5>
                                </a>
                                <p>Antal Produkter</p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <a asp-page="productDetails" asp-route-id="@Model.ProductHighestQuantity.Id">
                                <h5>@(Model.ProductHighestQuantity != null ? Model.ProductHighestQuantity.Name : "Data finns ej") - @(Model.ProductHighestQuantity?.CurrentStock != null ? Model.ProductHighestQuantity.CurrentStock.ToString() : "Data finns ej")</h5>
                                </a>
                                <p>Produkt med högst antal</p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <a asp-page="productDetails" asp-route-id="@Model.NewestProduct.Id">
                                <h5>@(Model.NewestProduct != null ? Model.NewestProduct.Name : "Data finns ej")</h5>
                                </a>
                                <p>Nyaste produkt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card shadow-lg mb-3">
                    <div class="card-header bg-success text-white">
                        <h5 class="text-center mb-0">Lager</h5>
                    </div>
                    <div class="card-body bg-white">
                        <div class="card mb-3">
                            <div class="card-body">
                                <a asp-page="/admin/storage/index" style="text-decoration: none;">
                                <h5>@(Model.StorageQuantity != null ? Model.StorageQuantity.ToString() : "Data finns ej")</h5>
                                </a>
                                <p>Antal Lagerplatser</p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <a asp-page="storageDetails" asp-route-id="@Model.StorageHighestQuantity.Id">
                                <h5>@(Model.StorageHighestQuantity != null ? Model.StorageHighestQuantity.Name : "Data finns ej") - @(Model.StorageHighestQuantity?.CurrentStock != null ? Model.StorageHighestQuantity.CurrentStock.ToString() : "Data finns ej")</h5>
                                </a>
                                <p>Lagerplats med mest produkter</p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <a asp-page="storageDetails" asp-route-id="@Model.NewestStorage.Id">
                                <h5>@(Model.NewestStorage != null ? Model.NewestStorage.Name : "Data finns ej")</h5>
                                </a>
                                <p>Nyaste lagerplatsen</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card shadow-lg mb-3">
                    <div class="card-header bg-warning text-white">
                        <h5 class="text-center mb-0">Användare</h5>
                    </div>
                    <div class="card-body bg-white">
                        <div class="card mb-3">
                            <div class="card-body">
                                <a asp-page="/Statistic" asp-route-employeeNumber="@Model.UserStatistic?.EmployeeNumber" style="text-decoration: none;">
                                <h5>@(Model.UserStatistic != null ? Model.UserStatistic.EmployeeNumber : "Data finns ej") - @(Model.UserStatistic?.TotalQuantity != null ? Model.UserStatistic.TotalQuantity.ToString() : "Data finns ej")</h5>
                                </a>
                                <p>Anställd med mest förflyttade produkter</p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5>@(Model.User != null ? Model.User.FirstName : "Data finns ej") @Model.User?.LastName - @(Model.User?.EmployeeNumber ?? "Data finns ej")</h5>
                                <p>Senast anställd (@(Model.User?.Created != null ? Model.User.Created.ToString() : "Data finns ej"))</p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <a asp-page="/Statistic" style="text-decoration: none;">
                                <h5>@(Model.NewestStatistic != null ? Model.NewestStatistic.UserName : "Data finns ej") - @(Model.NewestStatistic?.ProductName ?? "Data finns ej")</h5>
                                </a>
                                <p>Senast förflyttning</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
