@page
@model InventoryManagementApplication.Pages.OverviewModel
@{
}
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link href="~/css/overview.css" rel="stylesheet" />

<div class="container-fluid bg-light">
    <section id="minimal-statistics">
        <div class="row">
            <div class="col-12 mt-3 mb-1 ms-2 me-2">
                <h4 class="text-uppercase">Minimal Statistics Cards</h4>
                <p>Statistics on minimal cards.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-pencil-square text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.ProductQuantity</h3>
                                <span>Antal Produkter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-pencil-square text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.StorageQuantity</h3>
                                <span>Antal Lagerplatser</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-pencil-square text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.Product.Name - @Model.Product.CurrentStock</h3>
                                <span>Produkt med högst antal</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-bag-fill text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.Storage.Name - @Model.Storage.CurrentStock</h3>
                                <span>Lagerplats med mest produkter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-award-fill text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.UserStatistic.EmployeeNumber - @Model.UserStatistic.TotalQuantity</h3>
                                <span>Anställd med mest förflyttade produkter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-pencil-square text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.NewestStatistic.UserName - @Model.NewestStatistic.ProductName - @Model.NewestStatistic.IntitialStorageName - @Model.NewestStatistic.DestinationStorageName</h3>
                                <span>Senast förflyttning (@Model.NewestStatistic.Moved)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-person-fill text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.User.FirstName @Model.User.LastName - @Model.User.EmployeeNumber</h3>
                                <span>Senast anställd (@Model.User.Created)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-pencil-square text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.ProductQuantity</h3>
                                <span>Antal Produkter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-pencil-square text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.NewestProduct.Name</h3>
                                <span>Nyaste produkt</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="align-self-center ms-2">
                                <i class="icon bi bi-pencil-square text-primary"></i>
                            </div>
                            <div class="textContent">
                                <h3>@Model.NewestStorage.Name</h3>
                                <span>Nyaste lagerplatsen</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>