@page
@model SearchBarModel
@{
    ViewData["Title"] = "Sök";
}



@if (!string.IsNullOrEmpty(Model.Query))
{
    <h3>Sökresultat för "@Model.Query":</h3>

    @if (Model.Products != null && Model.Products.Any())
    {
        <h4>Produkter:</h4>
        <ul>
            @foreach (var product in Model.Products)
            {
                <li>
                    <a href="javascript:void(0);" class="product-link" data-id="@product.Id">@product.Name | (ID: @product.Id)</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Inga produkter hittades.</p>
    }

    @if (Model.Storages.Any())
    {
        <h4>Lager:</h4>
        <ul>
            @foreach (var storage in Model.Storages)
            {
                <li>
                    <a href="javascript:void(0);" class="storage-link" data-id="@storage.Id">@storage.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Inga lager hittades.</p>
    }

    @if (Model.Users.Any())
    {
        <h4>Användare:</h4>
        <ul>
            @foreach (var user in Model.Users)
            {
                <li>
                    <a href="javascript:void(0);" class="user-link" data-id="@user.Id">@user.FirstName @user.LastName | @user.EmployeeNumber</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Inga användare hittades.</p>
    }
}
else
{
    <p>Inga sökresultat att visa. Var vänlig ange en sökfråga.</p>
}
<script src="~/js/searchResults.js" defer></script>
