@page
@model SearchBarModel
@{
    ViewData["Title"] = "Sök";
}

@if (!string.IsNullOrEmpty(Model.Query))
{
    <h3>Sökresultat för "@Model.Query":</h3>

    @if (Model.Products != null && Model.Products.Any())
    {
        <h4>Produkter:</h4>
        <ul>
            @foreach (var product in Model.Products)
            {
                <li>
                    <a href="/ProductDetails/@product.Id">@product.Name | @product.ArticleNumber </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="text-muted">Inga produkter hittades.</p>
    }

    @if (Model.Storages.Any())
    {
        <h4>Lager:</h4>
        <ul>
            @foreach (var storage in Model.Storages)
            {
                <li>
                    <a href="/StorageDetails/@storage.Id">@storage.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="text-muted">Inga lager hittades.</p>
    }

    @if (Model.Users.Any())
    {
        <h4>Användare:</h4>
        <ul>
            @foreach (var user in Model.Users)
            {
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-page="/Statistic" asp-route-employeeNumber="@user.EmployeeNumber">
                            @user.FirstName @user.LastName | @user.EmployeeNumber - Statistik
                        </a> |
                        <a href="UserInfo/@user.Id"> Användarprofil</a>
                    </li>
                }
                else
                {
                    <a asp-page="/Statistic" asp-route-employeeNumber="@user.EmployeeNumber">
                        @user.FirstName @user.LastName | @user.EmployeeNumber - Statistik
                    </a>
                }
            }
        </ul>
    }
    else
    {
        <p class="text-muted">Inga användare hittades.</p>
    }
}
else
{
    <p>Inga sökresultat att visa. Var vänlig ange en sökfråga.</p>
}