@page
@model InventoryManagementApplication.Pages.StatisticModel
@{
 }

 <div class="mb-3 mt-3">
    <input id="searchInput" type="text" class="form-control" placeholder="Sök..." />
</div>

<button id="toggleButton" class="btn btn-primary">Leaderboard</button>


<div id="content1" class="mt-3" style="display: none;">
<div class="mb-3 mt-3">
    @if (Model.MovementPerPerson != null && Model.MovementPerPerson.Count > 0)
    {
        @foreach(var person in Model.MovementPerPerson)
        {
        <div class="card">
        <div class="text-center">@person.EmployeeNumber</div>
                <div class="text-center">@person.Quantity</div>
        </div>
        }    
    }
</div>
</div>
<div id="content2" class="mt-3" style="display: block;">

    <table id="statisticsTable" class="table" data-sort-direction="asc">
        <thead>
            <tr>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(0)">Namn</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(1)">Anställningsnummer</a></th>
                <th scope="col">Vad har gjorts</th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(3)">Produkt</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(4)">Produkter flyttade</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(5)">Flyttad från</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(6)">Flyttad till</a></th>
                <th scope="col"><a href="javascript:void(0);" onclick="sortTable(7)">När</a></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (Model.Statistics.Any())
            {
                @foreach (var statistic in Model.Statistics)
                {
                    <tr>
                        <td>@statistic.UserName</td>
                        <td>@statistic.EmployeeNumber</td>
                        <td>Note?</td>
                        <td>@statistic.ProductName</td>
                        <td>@statistic.Quantity</td>
                        <td>@statistic.IntitialStorageName</td>
                        <td>@statistic.DestinationStorageName</td>
                        <td>@statistic.Moved</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">Ingen data..</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

<script>
    const toggleButton = document.getElementById('toggleButton');
    const content1 = document.getElementById('content1');
    const content2 = document.getElementById('content2');

    let isContent1Visible = false;

    toggleButton.addEventListener('click', () => {
        if (isContent1Visible) {
            content1.style.display = 'none';
            content2.style.display = 'block';
            toggleButton.textContent = 'Leaderboard'; 
        } else {
            content1.style.display = 'block';
            content2.style.display = 'none';
            toggleButton.textContent = 'Statistik'; 
        }
        isContent1Visible = !isContent1Visible;
    });
</script>