@page
@model InventoryManagementApplication.Pages.StatisticPageModel
@{

}

<h1>Statistik</h1>

<div class="mb-3 mt-3">
    <input id="searchInput" type="text" class="form-control" placeholder="Sök...Namn eller " />
</div>

<div class="card">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Test</th> 
            <th scope="col">Test</th>           
            <th scope="col">Test</th>
            <th scope="col">Test</th>           
            <th scope="col">Test</th>
            <th scope="col">Test</th> 
            <th scope="col">Test</th>           
            <th scope="col">Test</th>
            <th scope="col">Test</th>           
            <th scope="col">Test</th>
            <th scope="col">Test</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @if(Model.Statistics.Any())
        {
            @foreach (var statistic in Model.Statistics)
            {
                <tr>
                    <td>@statistic.OrderTime</td>
                    <td>@statistic.ProductQuantity</td>
                    <td>@statistic.ProductName</td>
                    <td>@statistic.Price</td>                    
                    <td>@statistic.CurrentStock</td>
                    <td>@statistic.InitialStorageName</td>
                    <td>@statistic.InitialMaxCapacity</td>
                    <td>@statistic.DestinationStorageName</td>
                    <td>@statistic.DestinationMaxCapacity</td>
                    <td>@statistic.ReporterName</td>
                    <td>@statistic.ReporterEmployeeNumber</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" class="text-center">Ingen data..</td>
            </tr>
        }
    </tbody>
</table>
    <div class="mb-3">
        <button id="toggleAll" class="btn btn-primary">Bak</button>
    </div>
    <div class="mb-3">
        <button id="toggleAll" class="btn btn-primary">Fram</button>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}