@page
@model InventoryManagementApplication.Pages.UsersRolesModel

<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
     <h2>Användaröversikt</h2>


    <form method="post" asp-page-handler="ToggleDeleted" id="toggleForm">
        <input type="hidden" name="IsDeletedToggle" value="@Model.IsDeletedToggle.ToString().ToLower()" />
        <button class="btn btn-primary" type="button" onclick="formSubmit()">
            @if (Model.IsDeletedToggle)
            {
                <span>Borttagna Användare</span>
            }
            else
            {
                <span>Aktiva  Användare</span>
            }
        </button>
    </form>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Anställningsnummer</th>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Roll</th>
                <th>Skapad</th>
                <th>Uppdaterad</th>
                <th>Inställningar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.UsersWithRoles)
            {
                    if (user.IsDeleted == false)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.EmployeeNumber</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.RoleName</td>
                            <td>@user.Created</td>
                            <td>@user.Updated</td>
                            <td>
                                <a asp-page="/UserInfo" asp-route-userId="@user.Id" class="btn btn-info">
                                    <i class="fas fa-cog"></i>
                                </a>
                            </td>
                        </tr>
                    }                                     
            }
        </tbody>
    </table>
</body>

 @section Scripts{
    <script>
        function formSubmit() {
            var form = document.getElementById('toggleForm');
            console.log('Submitting form...');  // Debugging
            form.submit();
        }
    </script>
    
} 