@page
@model InventoryManagementApplication.Pages.UsersRolesModel
@{
    string isDeletedMessage = Model.IsDeletedToggle == false ? "Aktiva" : "Borttagna";
}

<body>
    <h2>Användaröversikt</h2>
    <h3>Antal (@isDeletedMessage) användare: @Model.UserCount</h3>


    <form method="post" asp-route-buttonId="1">
        <input type="hidden" name="IsDeletedToggle" value="@Model.IsDeletedToggle.ToString().ToLower()" />
        <button class="btn btn-primary" type="submit">
            @if (Model.IsDeletedToggle)
            {
                <span>Aktiva  Användare</span>
            }
            else
            {
                <span>Borttagna Användare</span>
            }
        </button>
    </form>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Anställningsnummer</th>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Roll</th>
                <th>Skapad</th>
                <th>Uppdaterad</th>
                <th>Inställningar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.UsersWithRoles)
            {
                if (user.IsDeleted == false)
                {
                    <tr>
                        <td>@user.EmployeeNumber</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.RoleName</td>
                        <td>@user.Created</td>
                        <td>@user.Updated</td>
                        <td>
                            <a asp-page="/UserInfo" asp-route-userId="@user.Id" class="btn btn-info">
                                <i class="fas fa-cog"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>

@section Scripts {
    <script>
        function formSubmit() {
            var form = document.getElementById('toggleForm');
            console.log('Submitting form...');  // Debugging
            form.submit();
        }
    </script>

} 