@page "{userId}"
@model InventoryManagementApplication.Pages.UserInfoModel
@{
    ViewData["Title"] = "Användarinformation";
}

<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
<div class="user-info">
    <h2>@ViewData["Title"]</h2>
    <img src="/images/logos/avatar-default-icon.png" alt="Profile image" class="profile-image" />
    <hr />
    <!-- Tabbar för att byta mellan grundläggande och avancerade inställningar -->
    <ul class="nav nav-tabs" id="userSettingsTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">Användarinformation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced" aria-selected="false">Avancerade Inställningar</a>
        </li>
    </ul>

    <!-- Tabbinnehåll -->
    <div class="tab-content" id="userSettingsTabContent">
        <!-- Grundläggande inställningar -->
        <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
            <form method="post">
                <input type="hidden" name="userId" value="@Model.SelectedUser.Id" />
 <input type="hidden" asp-for="SelectedRole" />
                <div class="form-group">
                    <label for="FirstName">Förnamn</label>
                    <input asp-for="SelectedUser.FirstName" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="LastName">Efternamn</label>
                    <input asp-for="SelectedUser.LastName" class="form-control" />
                </div>

                <br>

                <div class="form-floating mb-3 d-flex align-items-center">
                    <input asp-for="SelectedUser.EmployeeNumber" class="form-control me-2" id="employeeNumber" aria-required="true" placeholder="Anställningsnummer" readonly />
                    <label asp-for="SelectedUser.EmployeeNumber">Anställningsnummer</label>
                    <button id="generateEmployeeNumber" type="button" class="btn btn-generic">Generera</button>
                    <span asp-validation-for="SelectedUser.EmployeeNumber" class="text-danger"></span>
                </div>
                <br>
<button type="button" class="btn btn-secondary" onclick="window.location='@Url.Page("/UsersRoles")'">Avbryt</button>


<button type="submit" asp-page-handler="Save" class="btn btn-generic">
    <i class="fas fa-save me-1"></i> Spara ändringar
</button>



                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </div>
                }
            </form>
        </div>

        <div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
            <h5>Rollhantering</h5>
<form method="post" asp-page-handler="AssignRole">
    <div class="form-floating mb-3 d-flex align-items-center">
          
        <select asp-for="SelectedRole" asp-items="@(new SelectList(Model.AvailableRoles))" class="form-control me-2" id="RoleSelection">
            <option value="">-- Välj en roll --</option>
        </select>
        <label for="RoleSelection">Roll</label>
        <button type="submit" class="btn btn-generic">Tilldela</button>
        <span asp-validation-for="SelectedRole" class="text-danger"></span>
    </div>
  <hr>
<div class="save-or-delete-btn-container d-flex flex-column align-items-start gap-4">
    <div class="d-grid gap-2" style="width: 100%;">
        <h5>Lösenordshantering</h5>
        <p>Återställer användarens personliga lösenord till ett standardlösenord.</p>
        <button type="submit" asp-page-handler="ResetPassword" class="btn btn-passwordchange d-flex align-items-center w-100">
            <i class="fas fa-key me-1"></i> Återställ lösenord
        </button>
    </div>


    <div class="d-grid gap-2" style="width: 100%;">
            <hr>
        <h5>Ta bort konto</h5>
        <p>Denna åtgärd tar bort kontot permanent.</p>
        <button type="submit" asp-page-handler="Delete" class="btn btn-danger d-flex align-items-center w-100">
            <i class="fas fa-trash-alt me-1"></i> Ta bort
        </button>
    </div>
</div>

            </form>
        </div>
    </div>
</div>
</body>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var checkEmployeeNumberUrl = '@Url.Page("/Account/Register", "CheckEmployeeNumberExists")';

   
            $('#goToAdvancedSettings').on('click', function () {
                $('#advanced-tab').tab('show'); 
            });

            $('#generateEmployeeNumber').on('click', function () {
                var employeeNumber;
                var isUnique = false;

                while (!isUnique) {
                    employeeNumber = Math.floor(Math.random() * (9999 - 1000 + 1)) + 1000;

                    $.ajax({
                        url: checkEmployeeNumberUrl,
                        type: 'GET',
                        data: { employeeNumber: employeeNumber },
                        success: function (data) {
                            if (data) {
                                isUnique = true;
                                $('#employeeNumber').val(employeeNumber);
                            }
                        },
                        async: false
                    });
                }
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
