@page
@model InventoryManagementApplication.Pages.UsersRolesModel
@{
    string isDeletedMessage = Model.IsDeletedToggle == false ? "Aktiva" : "Borttagna";
}

<body>
    <h2>Användaröversikt</h2>
    <h3>Antal (@isDeletedMessage) användare: @Model.UserCount</h3>


    <form method="post" asp-route-buttonId="1">
        <input type="hidden" name="IsDeletedToggle" value="@Model.IsDeletedToggle.ToString().ToLower()" />
        <button class="btn btn-primary" type="submit">
            @if (Model.IsDeletedToggle)
            {
                <span>Aktiva  Användare</span>
            }
            else
            {
                <span>Borttagna Användare</span>
            }
        </button>
    </form>

    <div class="input-group">
        <input id="userRolesSearchInput" type="text" class="form-control" placeholder="Sök anställningsnummer..." />
        <button id="clearUserRolesInput" type="button" onclick="clearUserRolesSearch()">Rensa Sök</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Anställningsnummer</th>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Roll</th>
                <th>Skapad</th>
                <th>Uppdaterad</th>
                <th>Inställningar</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var user in Model.UsersWithRoles)
            {
                if (user.IsDeleted == false)
                {
                    <tr>
                        <td>@user.EmployeeNumber</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.RoleName</td>
                        <td>@user.Created</td>
                        <td>@user.Updated</td>
                        <td>
                            <a asp-page="/UserInfo" asp-route-userId="@user.Id" class="btn btn-info">
                                <i class="fas fa-cog"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="mb-3">
        <button id="prevPage" class="btn btn-primary">Bak</button>
        <span id="pageNumber" class="mx-3"></span>
        <button id="nextPage" class="btn btn-primary">Fram</button>
        <select id="pageAmount">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
        </select>
    </div>
</body>

 @section Scripts{
    <script src="~/js/userRoles.js"></script>
    <script>
             function clearUserRolesSearch() {
            const userRolesSearchInput = document.getElementById("userRolesSearchInput");
            userRolesSearchInput.value = "";

            const event = new Event('input', {
                bubbles: true,
                cancelable: true,
            });
            userRolesSearchInput.dispatchEvent(event);
        }
    </script>
} 