@page
@model InventoryManagementApplication.Pages.admin.tracker.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Översikt av produkter och lager</h1>


    <a asp-page="Create" class="btn btn-primary">Flytta produkt</a>

<table class="table">
    <thead>
        <tr>
            <th>
                <div>Antal</div>
            </th>
            <th>
                <div>Produkt</div>
            </th>
            <th>
                <div>Lagerplats</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InventoryTracker) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
