@page
@model InventoryManagementApplication.Pages.admin.product.IndexModel

@{
    ViewData["Title"] = "Produktkatalog";
}

<h1>Produktkatalog</h1>
<h3>Antal produkter: @Model.ProductCount</h3>

<div class="button-container">
    <form method="post">
        <input type="hidden" name="IsDeletedToggle" value="@Model.IsDeletedToggle.ToString().ToLower()" />
        <button class="btn btn-primary" type="submit">
            @if (Model.IsDeletedToggle)
            {
                <span>Borttagna Produkter</span>
            }
            else
            {
                <span>Aktiva Produkter</span>
            }
        </button>
    </form>
    @if (User.IsInRole("Admin"))
    {
        <a asp-page="./Create" class="btn btn-primary me-2">Lägg till</a>
    }
</div>

<table id="productTable" class="table" data-sort-direction="asc">
    <thead>
        <tr>
            <th><a href="javascript:void(0);" onclick="sortTable(0)">Namn</a></th>
            <th><a href="javascript:void(0);" onclick="sortTable(1)">Artikelnummer</a></th>
            <th><a href="javascript:void(0);" onclick="sortTable(2)">Beskrivning</a></th>
            <th><a href="javascript:void(0);" onclick="sortTable(3)">Pris</a></th>
            <th><a href="javascript:void(0);" onclick="sortTable(4)">Totalt</a></th>
            <th><a href="javascript:void(0);" onclick="sortTable(5)">Antal utan lager</a></th>
            <th><a href="javascript:void(0);" onclick="sortTable(6)">Skapad</a></th>
            <th><a href="javascript:void(0);" onclick="sortTable(7)">Ändrad</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@(string.IsNullOrWhiteSpace(item.Name) ? "Data finns ej" : item.Name)</td>
                <td>@(string.IsNullOrWhiteSpace(item.ArticleNumber) ? "Data finns ej" : item.ArticleNumber)</td>
                <td>@(string.IsNullOrWhiteSpace(item.Description) ? "Data finns ej" : item.Description)</td>
                <td>@(item.Price.HasValue ? String.Format(new System.Globalization.CultureInfo("sv-SE"), "{0:C}", item.Price) : "Data finns ej")</td>
                <td>
                    @(item.TotalStock.HasValue ? item.TotalStock.ToString() : "Data finns ej")
                    <a asp-page="./SellProduct" asp-route-storageId="0" asp-route-id="@item.Id">Sälj produkt</a>
                </td>
                <td>@(item.CurrentStock.HasValue ? item.CurrentStock.ToString() : "Data finns ej")</td>
                <td>@(item.Created.HasValue ? item.Created.Value.ToString("yyyy-MM-dd") : "Data finns ej")</td>
                <td>@(item.Updated.HasValue ? item.Updated.Value.ToString("yyyy-MM-dd") : "Data finns ej")</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Ändra</a>
                        <span> | </span>
                        <a asp-page="./Details" asp-route-id="@item.Id">Info</a>
                        <span> | </span>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Ta bort</a>
                    }
                    else
                    {
                        <span> | <a asp-page="./Details" asp-route-id="@item.Id">Info</a> | </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script src="~/js/productIndex.js"></script>
}
