@page
@model InventoryManagementApplication.Pages.admin.product.IndexModel

@{
    ViewData["Title"] = "Produktkatalog";
    string IsDeletedMessage = Model.IsDeletedToggle == false ? "Aktiva" : "Borttagna";

}

<h1>Produktkatalog</h1>
<h3>Antal (@IsDeletedMessage)produkter: @Model.ProductCount</h3>

<div class="button-container">
    <form method="post" asp-route-buttonId="1">
        <input type="hidden" name="IsDeletedToggle" value="@Model.IsDeletedToggle.ToString().ToLower()" />
        <button class="btn btn-primary" type="submit">
            @if (Model.IsDeletedToggle)
            {
                <span>Aktiva Produkter</span>
            }
            else
            {
                <span>Borttagna Produkter</span>
            }
        </button>
    </form>
    @if (User.IsInRole("Admin"))
    {
        <a asp-page="./Create" class="btn btn-primary me-2">Lägg till</a>
    }
</div>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="input-group shadow-sm">
            <input type="text" id="searchInput" class="form-control" placeholder="Filtrera produkter..." />
            <span class="input-group-text bg-primary text-white">
                <i class="bi bi-search"></i>
            </span>
        </div>
    </div>
</div>

<table id="productTable" class="table" data-sort-direction="asc">
    <thead class="table-dark">
        <tr>
            <th><a href="javascript:void(0);" onclick="sortTable('trackerTable', 0)" class="text-white">Namn<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('trackerTable', 1)" class="text-white">Artikelnummer<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('trackerTable', 2)" class="text-white">Beskrivning<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('trackerTable', 3)" class="text-white">Pris<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('trackerTable', 4)" class="text-white">Totalt<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('trackerTable', 5)" class="text-white">Antal utan lager<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('trackerTable', 6)" class="text-white">Skapad<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('trackerTable', 7)" class="text-white">Ändrad<i class="bi bi-sort-down"></i></a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@(string.IsNullOrWhiteSpace(item.Name) ? "Data finns ej" : item.Name)</td>
                <td>@(string.IsNullOrWhiteSpace(item.ArticleNumber) ? "Data finns ej" : item.ArticleNumber)</td>
                <td>@(string.IsNullOrWhiteSpace(item.Description) ? "Data finns ej" : item.Description)</td>
                <td>@(item.Price.HasValue ? String.Format(new System.Globalization.CultureInfo("sv-SE"), "{0:C}", item.Price) : "Data finns ej")</td>
                <td>
                    @(item.TotalStock.HasValue ? item.TotalStock.ToString() : "Data finns ej")
                    @if (item.IsDeleted == false)
                    {

                    }
                </td>
                <td>@(item.CurrentStock.HasValue ? item.CurrentStock.ToString() : "Data finns ej")</td>
                <td>@(item.Created.HasValue ? item.Created.Value.ToString("yyyy-MM-dd") : "Data finns ej")</td>
                <td>@(item.Updated.HasValue ? item.Updated.Value.ToString("yyyy-MM-dd") : "Data finns ej")</td>
                <td>
                    @if (item.IsDeleted == false)
                    {

                        @if (User.IsInRole("Admin"))
                        {
                            <div class="d-flex">
                                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm me-2" title="Ändra">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm me-2" title="Se mer information">
                                    <i class="bi bi-info-circle"></i>
                                </a>
                                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm me-2" title="Ta bort">
                                    <i class="bi bi-trash"></i>
                                </a>
                                <a asp-page="./SellProduct" asp-route-storageId="0" asp-route-id="@item.Id" class="btn btn-success btn-sm" title="Sälj produkt">
                                    <i class="bi bi-currency-dollar"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <a asp-page="./Edit" asp-route-id="@item.Id">Fyll på</a>
                            <span> | <a asp-page="/ProductDetails" asp-route-id="@item.Id">Info</a> | </span>
                        }
                    }
                    else
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="d-flex">
                                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm me-2" title="Återskapa">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </a>
                                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm me-2" title="Se mer information">
                                    <i class="bi bi-info-circle"></i>
                                </a>
                                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm me-2" title="Ta bort">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <a asp-page="/ProductDetails" asp-route-id="@item.Id">Info</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/productIndex.js"></script>
}
