@page
@model InventoryManagementApplication.Pages.admin.product.IndexModel

@{
    ViewData["Title"] = "Produktkatalog";
    string IsDeletedMessage = Model.IsDeletedToggle == false ? "Aktiva" : "Borttagna";

}

<h1>Produktkatalog</h1>
<div class="container mt-4">
<h3>Antal (@IsDeletedMessage)produkter: @Model.ProductCount</h3>
  <div class="row mb-3">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" id="searchInput" class="form-control" placeholder="Sök..." aria-label="Sök"/>
          <a id="clearSearch" class="clearButton" href="/admin/product/Index" style="text-decoration:none; display: flex;align-items: center;  padding:5px;">Rensa </a>
              <span class="input-group-text custom-color text-white">
                <i class="bi bi-search"></i>
            </span>
        </div>
    </div>
</div>

<div class="button-container">
    <form method="post" asp-route-buttonId="1">
        <input type="hidden" name="IsDeletedToggle" value="@Model.IsDeletedToggle.ToString().ToLower()" />
        <button class="custom-secondary-btn" type="submit">
            @if (Model.IsDeletedToggle)
            {
                <span>Aktiva Produkter</span>
            }
            else
            {
                <span>Borttagna Produkter</span>
            }
        </button>
    </form>
    <a asp-page="./Create" class="add-object">Lägg till</a>

</div>

    <div class="table-responsive shadow-sm">
        <table id="productTable" class="table table-striped table-hover align-middle" data-sort-direction="asc">
            <thead class="table-dark">
        <tr>
            <th><a href="javascript:void(0);" onclick="sortTable('productTable', 0)" class="text-white">Namn<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('productTable', 1)" class="text-white">Artikelnummer<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('productTable', 2)" class="text-white">Beskrivning<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('productTable', 3)" class="text-white">Pris<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('productTable', 4)" class="text-white">Totalt<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('productTable', 5)" class="text-white">Antal utan lager<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('productTable', 6)" class="text-white">Skapad<i class="bi bi-sort-down"></i></a></th>
            <th><a href="javascript:void(0);" onclick="sortTable('productTable', 7)" class="text-white">Ändrad<i class="bi bi-sort-down"></i></a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@(string.IsNullOrWhiteSpace(item.Name) ? "Data finns ej" : item.Name)</td>
                <td>@(string.IsNullOrWhiteSpace(item.ArticleNumber) ? "Data finns ej" : item.ArticleNumber)</td>
                <td>@(string.IsNullOrWhiteSpace(item.Description) ? "Data finns ej" : item.Description)</td>
                <td>@(item.Price.HasValue ? String.Format(new System.Globalization.CultureInfo("sv-SE"), "{0:C}", item.Price) : "Data finns ej")</td>
                <td>
                    @(item.TotalStock.HasValue ? item.TotalStock.ToString() : "Data finns ej")
                    @if (item.IsDeleted == false)
                    {

                    }
                </td>
                <td>@(item.CurrentStock.HasValue ? item.CurrentStock.ToString() : "Data finns ej")</td>
                <td>@(item.Created.HasValue ? item.Created.Value.ToString("yyyy-MM-dd") : "Data finns ej")</td>
                <td>@(item.Updated.HasValue ? item.Updated.Value.ToString("yyyy-MM-dd") : "Data finns ej")</td>
                <td>
                    @if (item.IsDeleted == false)
                    {
                        <div class="d-flex">
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm me-2" title="Ändra">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-page="/ProductDetails" asp-route-id="@item.Id" class="btn btn-info btn-sm me-2" title="Se mer information">
                                <i class="bi bi-info-circle"></i>
                            </a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm me-2" title="Ta bort">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a asp-page="./SellProduct" asp-route-id="@item.Id" class="btn btn-success btn-sm" title="Sälj produkt">
                                <i class="bi bi-currency-dollar"></i>
                            </a>
                        </div>
                    }
                    else
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="d-flex">
                                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm me-2" title="Återskapa">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </a>
                                <a asp-page="/ProductDetails" asp-route-id="@item.Id" class="btn btn-info btn-sm me-2" title="Se mer information">
                                    <i class="bi bi-info-circle"></i>
                                </a>
                                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm me-2" title="Ta bort">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <a asp-page="/ProductDetails" asp-route-id="@item.Id" class="btn btn-info btn-sm me-2" title="Se mer information">
                                <i class="bi bi-info-circle"></i>
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mb-3">
       <div class="pagination-container">
    <button id="prevPage" class="btn btn-primary">Bak</button>
    <span id="pageNumber" class="mx-3"></span>
    <button id="nextPage" class="btn btn-primary">Fram</button>
     <div class="page-container">
    <select id="pageSelector" class="form-select" aria-label="Page selector" style="max-width: 100px;"></select>
</div>
</div>
</div>



</div>
</div>
@section Scripts {
	<script src="~/js/productIndex.js"></script>
    <script src="~/js/searchSortFilter.js"></script>
    <script src="~/js/productIndex.js"></script>
}
