@page
@model InventoryManagementApplication.Pages.admin.product.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Product[0].Name) *@
                <div>Namn</div>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Product[0].ArticleNumber) *@
                <div>Artikelnummer</div>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Product[0].Description) *@
                <div>Beskrivning</div>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Product[0].Price) *@
                <div>Pris</div>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Product[0].TotalStock) *@
                <div>Totalt</div>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Product[0].CurrentStock) *@
                <div>Antal utan lager</div>
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Product[0].Created) *@
               <div>Skapad</div>
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Product[0].Updated) *@
               <div>Uppdaterad</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
