@page
@model InventoryManagementApplication.Pages.admin.product.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Produktkatalog</h1>

<a asp-page="Create" class="btn btn-primary">Lägg till</a>

<table class="table">
    <thead>
        <tr>
            <th>
                <div>Namn</div>
            </th>
            <th>
                <div>Artikelnummer</div>
            </th>
            <th>
                <div>Beskrivning</div>
            </th>
            <th>
                <div>Pris</div>
            </th>
            <th>
                <div>Totalt</div>
            </th>
            <th>
                <div>Antal utan lager</div>
            </th>
            <th>
                <div>Skapad</div>
            </th>
            <th>
                <div>Ändrad</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @String.Format(new System.Globalization.CultureInfo("sv-SE"), "{0:C}", item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Info</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
