@page
@model InventoryManagementApplication.Pages.admin.storage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Storage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.MaxCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.MaxCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.CurrentStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.CurrentStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.Updated)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Storage.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
