@page
@model InventoryManagementApplication.Pages.admin.storage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Storage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.MaxCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.MaxCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.CurrentStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.CurrentStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Storage.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
