@page
@model InventoryManagementApplication.Pages.admin.storage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lagerplatser</h1>


    <a asp-page="Create" class="btn btn-primary">Lägg till</a>

<table class="table">
    <thead>
        <tr>
            <th>
                <div>Namn</div>
            </th>
            <th>
                <div>Max antal</div>
            </th>
            <th>
                <div>Antal</div>
            </th>
            <th>
                <div>Lediga platser</div>
            </th>
            <th>
                <div>Skapad</div>
            </th>
            <th>               
                <div>Ändrad</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Storages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentStock)
                </td>
                <td>
                    @{
                        var freeSlots = item.MaxCapacity - @item.CurrentStock;
                    }
                    <div>@freeSlots</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Info</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
